/* --------- Description --------- */

/* --------- Description --------- */

@media (max-width: 1000.98px) {
  .advantage-extend__box {
    grid: auto/repeat(auto-fit, minmax(auto, 270px));
  }
}

.iform__box {
  max-width: 667px;
}

.iform__group {
  grid: auto-flow/auto 1fr;
}

.iform__textarea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.iform__textarea {
  min-height: 10rem;
}

@media (max-width: 425.98px) {
  .iform__button {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}