@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Thin'), local('i-DINPro-100'), url("../media/fonts/DINPro/woff2/Thin.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Thin.woff") format('woff'), url("../media/fonts/DINPro/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Light'), local('i-DINPro-300'), url("../media/fonts/DINPro/woff2/Light.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Light.woff") format('woff'), url("../media/fonts/DINPro/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Regular'), local('i-DINPro-400'), url("../media/fonts/DINPro/woff2/Regular.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Regular.woff") format('woff'), url("../media/fonts/DINPro/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Medium'), local('i-DINPro-500'), url("../media/fonts/DINPro/woff2/Medium.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Medium.woff") format('woff'), url("../media/fonts/DINPro/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Bold'), local('i-DINPro-700'), url("../media/fonts/DINPro/woff2/Bold.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Bold.woff") format('woff'), url("../media/fonts/DINPro/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-DINPro';
  src: local('i-DINPro-Black'), local('i-DINPro-900'), url("../media/fonts/DINPro/woff2/Black.woff2") format('woff2'), url("../media/fonts/DINPro/woff/Black.woff") format('woff'), url("../media/fonts/DINPro/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Thin'), local('i-Roboto-100'), url("../media/fonts/Roboto/woff2/Thin.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Thin.woff") format('woff'), url("../media/fonts/Roboto/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Light'), local('i-Roboto-300'), url("../media/fonts/Roboto/woff2/Light.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Light.woff") format('woff'), url("../media/fonts/Roboto/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Regular'), local('i-Roboto-400'), url("../media/fonts/Roboto/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Regular.woff") format('woff'), url("../media/fonts/Roboto/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Medium'), local('i-Roboto-500'), url("../media/fonts/Roboto/woff2/Medium.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Medium.woff") format('woff'), url("../media/fonts/Roboto/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Bold'), local('i-Roboto-700'), url("../media/fonts/Roboto/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Bold.woff") format('woff'), url("../media/fonts/Roboto/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-Roboto';
  src: local('i-Roboto-Black'), local('i-Roboto-900'), url("../media/fonts/Roboto/woff2/Black.woff2") format('woff2'), url("../media/fonts/Roboto/woff/Black.woff") format('woff'), url("../media/fonts/Roboto/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Thin'), local('i-Gilroy-100'), url("../media/fonts/Gilroy/woff2/Thin.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Thin.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Thin.ttf") format('ttf');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Light'), local('i-Gilroy-300'), url("../media/fonts/Gilroy/woff2/Light.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Light.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Light.ttf") format('ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Regular'), local('i-Gilroy-400'), url("../media/fonts/Gilroy/woff2/Regular.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Regular.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Regular.ttf") format('ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Medium'), local('i-Gilroy-500'), url("../media/fonts/Gilroy/woff2/Medium.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Medium.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Medium.ttf") format('ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Bold'), local('i-Gilroy-700'), url("../media/fonts/Gilroy/woff2/Bold.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Bold.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Bold.ttf") format('ttf');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'i-Gilroy';
  src: local('i-Gilroy-Black'), local('i-Gilroy-900'), url("../media/fonts/Gilroy/woff2/Black.woff2") format('woff2'), url("../media/fonts/Gilroy/woff/Black.woff") format('woff'), url("../media/fonts/Gilroy/ttf/Black.ttf") format('ttf');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

html,
body {
  font-family: 'i-DINPro', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  display: block;
}

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  min-height: 100%;
}

section {
  position: relative;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

[class*='__section--background'] {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h2 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h3 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h4 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h5 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h6 {
  font-family: 'i-DINPro', sans-serif;
  letter-spacing: normal;
  color: #2f2f2f;
  line-height: 141%;
  margin: unset;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

p {
  font-family: 'i-DINPro', sans-serif;
  font-size: 0.88rem;
  color: #2f2f2f;
  letter-spacing: normal;
  margin: 0;
}

a,
a:hover {
  letter-spacing: normal;
  text-decoration: none;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  font-style: normal;
}

address {
  font-style: normal;
}

button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

picture {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

input:required,
input:invalid {
  box-shadow: none;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  width: 0;
}

.height-true {
  height: auto;
}

.height-false {
  height: 0;
}

.opacity-true {
  opacity: 1;
}

.opacity-false {
  opacity: 0;
}

.display-true {
  display: -ms-grid;
  display: grid;
}

.display-false {
  display: none;
}

.item-true {
  display: -ms-grid;
  display: grid;
}

.item-false {
  display: none;
}

.view-true {
  visibility: visible;
}

.view-false {
  visibility: hidden;
}

.DELETE {
  display: none !important;
}

.DEL {
  display: none !important;
}

input:disabled,
textarea:disabled {
  background-color: rgba(0,0,0,0);
}

.img-liquid {
  display: block;
  max-width: 100%;
  height: auto;
}

.align-self-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-row-align: center;
  align-self: center;
}

.ttu {
  text-transform: uppercase;
}

.optional__section,
.plugins__section,
.null-to-null {
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}

.inline-svg__init {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  display: -ms-inline-grid;
  display: inline-grid;
  visibility: visible;
}

[class*='glyphs__'] {
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.glyphs__my-checked {
  width: 1rem;
  height: 1rem;
  fill: rgba(0,0,0,0);
  stroke: #f6486c;
}

.space-1,
.space-2,
.space-3 {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #eee;
  border-left: 0;
  border-right: 0;
  border: 1px solid #bbb;
  font-size: 5rem;
}

.space-1:before,
.space-2:before,
.space-3:before {
  display: -ms-grid;
  display: grid;
  color: #ccc;
  line-height: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 320.98px) {
  .space-1:before,
  .space-2:before,
  .space-3:before {
    font-size: 0.5em;
  }
}

.space-1 {
  height: 33vh;
}

.space-1:before {
  content: 'SPACE-1';
}

.space-2 {
  height: 66vh;
}

.space-2:before {
  content: 'SPACE-2';
}

.space-3 {
  height: 99vh;
}

.space-3:before {
  content: 'SPACE-3';
}

.__device__ {
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 5%;
  margin: auto;
  font-size: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.__device__:before {
  content: '000';
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #0f0f0f;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: normal;
  position: absolute;
  border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  width: auto;
  height: auto;
  padding: 0.25rem 1rem;
  opacity: 0.54;
}

@media (max-width: 2560.98px) {
  .__device__:before {
    content: '2560';
  }
}

@media (max-width: 1920.98px) {
  .__device__:before {
    content: '1920';
  }
}

@media (max-width: 1600.98px) {
  .__device__:before {
    content: '1600';
  }
}

@media (max-width: 1366.98px) {
  .__device__:before {
    content: '1366';
  }
}

@media (max-width: 1199.98px) {
  .__device__:before {
    content: '1199';
  }
}

@media (max-width: 991.98px) {
  .__device__:before {
    content: '991';
  }
}

@media (max-width: 768.98px) {
  .__device__:before {
    content: '768';
  }
}

@media (max-width: 678.98px) {
  .__device__:before {
    content: '678';
  }
}

@media (max-width: 575.98px) {
  .__device__:before {
    content: '575';
  }
}

@media (max-width: 425.98px) {
  .__device__:before {
    content: '425';
  }
}

.__device__:hover:before {
  opacity: 1;
  color: #ff6347;
  background-color: #fff;
}

.myheader__burger {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 678.98px) {
  .myheader__burger {
    display: -ms-grid;
    display: grid;
  }
}

.myheader__menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.4rem;
  padding: 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.myheader__menu:before {
  content: '';
  display: -ms-grid;
  display: grid;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(221,221,221,0.5);
  position: absolute;
  left: -35%;
  top: 50%;
  -webkit-transform: translate(50%, -50%) scale(0);
  -ms-transform: translate(50%, -50%) scale(0);
  transform: translate(50%, -50%) scale(0);
  border-radius: 100% 100% 100% 100%;
}

.myheader__menu-line {
  background-color: #ff6347;
  color: #ff6347;
  height: 0.25rem;
  width: 2.0625rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 2;
}

.myheader__navigat {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2.5rem 0;
}

.myheader__navigat--clone {
  padding: unset;
}

@media (min-width: 678.98px) {
  .myheader__navigat--clone {
    display: none;
    overflow: hidden;
  }
}

.myheader__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 80px;
}

@media (max-width: 768.98px) {
  .myheader__list {
    grid-gap: 1rem;
  }
}

@media (max-width: 678.98px) {
  .myheader__list {
    height: 0;
    min-height: 0;
    overflow: hidden;
    grid-auto-flow: row;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    -webkit-transition: all 0.33s ease;
    transition: all 0.33s ease;
    padding: 0 1.2rem 0;
  }
}

.myheader__list-item {
  text-decoration: none;
  color: #4a4a4a;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.myheader__list-item:after {
  content: '';
  display: -ms-grid;
  display: grid;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 0.125rem solid #ff6347;
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 678.98px) {
  .myheader__list-item:hover {
    margin-left: 0.5rem;
  }
}

.myheader__list-item:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.myheader__list.open {
  padding: 0.8rem 1.2rem;
  padding-bottom: 10rem;
}

.myheader__menu:hover:before {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translate(50%, -50%) scale(1);
  -ms-transform: translate(50%, -50%) scale(1);
  transform: translate(50%, -50%) scale(1);
}

.anima-smooth-height {
  -webkit-animation: anima-smooth-height 0.44s forwards;
  animation: anima-smooth-height 0.44s forwards;
}

@-moz-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@-webkit-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@-o-keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

@keyframes anima-smooth-height {
  0% {
    min-height: 0;
    padding-bottom: 0;
  }

  100% {
    min-height: 100%;
    padding-bottom: 10rem;
  }
}

.myheader__menu.open .myheader__menu-line:nth-child(1) {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

.myheader__menu.open .myheader__menu-line:nth-child(2) {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.myheader__menu.open .myheader__menu-line:nth-child(3) {
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

.scrollup__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0);
  bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: #f47821;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
  border-radius: 0.4375rem 0.4375rem 0.4375rem 0.4375rem;
  right: 3%;
  z-index: 123;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
}

.scrollup__box:hover {
  background-color: #f47821;
  border: 1px solid #f47821;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  fill: #fff;
}

.scrollup__d-scrollup {
  width: 1.5rem;
  height: 1.5rem;
}

.scrollup__box.show {
  -webkit-transform: translateY(-75%);
  -ms-transform: translateY(-75%);
  transform: translateY(-75%);
}

.scrollup__box.show:active {
  -webkit-transform: translateY(-75%) scale(0.9);
  -ms-transform: translateY(-75%) scale(0.9);
  transform: translateY(-75%) scale(0.9);
}

.unknown-page__section--background {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0,0,0,0);
}

.unknown-page__box {
  display: -ms-grid;
  display: grid;
  grid: 1fr/0.4fr 0.6fr;
  min-height: 88vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-gap: 5rem;
  max-width: 87.5rem;
  margin: auto;
}

@media (max-width: 992.98px) {
  .unknown-page__box {
    grid: auto/repeat(auto-fit, minmax(19rem, auto));
    padding: 0 1rem;
    grid-gap: 1rem;
  }
}

.unknown-page__left {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  padding: 1rem;
}

@media (max-width: 678.98px) {
  .unknown-page__left {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
}

.unknown-page__right {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  padding: 1rem;
}

.unknown-page__symbol {
  background-color: #ddd;
  border-radius: 0.625rem 0.625rem 0.625rem 0.625rem;
  width: 2rem;
  height: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unknown-page__ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
}

.unknown-page__href {
  font-weight: 700;
  color: #f44336;
  font-size: 1.2rem;
  display: -ms-inline-grid;
  display: inline-grid;
}

.unknown-page__href:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.unknown-page__href:after {
  content: '';
  display: -ms-grid;
  display: grid;
  border-bottom: 0.125rem solid #f44336;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.unknown-page__title {
  display: -ms-grid;
  display: grid;
  color: #2f2f2f;
}

.unknown-page__h2 {
  display: -ms-grid;
  display: grid;
  color: #f44336;
}

.myheader__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  max-width: 87.5rem;
  margin: auto;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 768.98px) {
  .myheader__box {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 678.98px) {
  .myheader__box {
    grid-auto-columns: 1fr auto;
  }
}

.myheader__section--background {
  background-color: #fff;
}

.myheader__item {
  display: -ms-grid;
  display: grid;
}

.myfooter__section--background {
  background-color: #0f0f0f;
}

.myfooter__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.8125rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

.myfooter__item {
  display: -ms-grid;
  display: grid;
}

.myfooter__title {
  color: #fff;
}

.myfooter__text {
  color: #fff;
}

.startpage__section--background {
  background-color: #fff;
}

.startpage__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem 0;
  min-height: 30rem;
}

.startpage__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.startpage__h1 {
  color: #222;
  font-family: 'i-DINPro', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -0.96px;
  line-height: 3.375rem;
}

@media (max-width: 425.98px) {
  .startpage__h1 {
    font-size: 2.5rem;
  }
}

.startpage__p {
  margin-top: 1.25rem;
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.startpage__link {
  color: #f47821;
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.startpage__button {
  margin-top: 1.875rem;
  width: 14.75rem;
  height: 3.375rem;
  border-width: 0;
  background-color: rgba(0,0,0,0);
  border-radius: 6.9375rem 6.9375rem 6.9375rem 6.9375rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-align: center;
  justify-self: center;
  position: relative;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.startpage__button:before {
  content: '';
  display: -ms-grid;
  display: grid;
  width: 3.375rem;
  height: 3.375rem;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  background-color: rgba(135,135,135,0.05);
  border-radius: 6.9375rem 6.9375rem 6.9375rem 6.9375rem;
  position: absolute;
  -webkit-transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  pointer-events: none;
}

.startpage__button-plus {
  width: 3.375rem;
  height: 3.375rem;
  color: #f47821;
  font-family: 'i-DINPro', sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: -0.5rem;
  margin-top: -0.5625rem;
}

.startpage__button-text {
  font-family: 'i-Gilroy', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.startpage__href {
  padding: 0.5625rem 1.6875rem;
  background-color: #ff6347;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 0.125rem solid rgba(0,0,0,0);
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin: 2rem 1rem;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.startpage__href:hover {
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
  background-color: #ff765d;
  font-weight: bold;
  border: 0.125rem solid #ff6347;
}

.startpage__href:active {
  background-color: #ff3c19;
  color: #fff;
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}

.startpage__button:hover:before {
  width: 100%;
}

.girls__section--background {
  background-color: #f7f5fa;
}

.girls__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.girls__background {
  background-image: url("../media/img/main-assets/girls.png");
  height: 37.5rem;
  background-color: #ccc;
  margin-left: -1rem;
  margin-right: -1rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.girls-quad__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid: auto/repeat(auto-fit, minmax(auto, 486px));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -6.6rem;
  padding-bottom: 5rem;
}

.girls-quad__item {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3.125rem 3.75rem;
  grid-gap: 12px;
  min-height: 14.5rem;
  border: 1px solid #ededed;
}

.girls-quad__h6 {
  font-family: 'i-DINPro', sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.1875rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #f47821;
}

.girls-quad__p {
  font-family: 'i-DINPro', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
  letter-spacing: -0.03em;
  color: #222;
}

.story__section--background {
  background-color: #fff;
}

.story__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 46.0625rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 678.98px) {
  .story__box {
    padding-bottom: 1rem;
  }
}

.story__item {
  max-width: 48.3125rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 24px;
}

.story__h2 {
  font-family: 'i-DINPro', sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #222;
  letter-spacing: -0.02em;
}

.story__p {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4e4d53;
  line-height: 1.625rem;
}

.advantage__section--background {
  background-color: #f7f5fa;
}

.advantage__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  max-width: 71.1875rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 60px;
  padding: 7.5rem 0 10rem;
}

@media (max-width: 425.98px) {
  .advantage__box {
    padding: 1rem 0 1.4rem;
  }
}

.advantage__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantage__item:first-child {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.advantage__h3 {
  font-family: 'i-DINPro', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
}

.advantage-extend__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 70px;
  grid: auto/repeat(auto-fit, minmax(270px, 1fr));
}

.advantage-extend__item {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.advantage-extend__icon {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3.25rem;
  height: 3.25rem;
  fill: #f47821;
}

.advantage-extend__h4 {
  font-family: 'i-DINPro', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5625rem;
  margin-top: 1.875rem;
}

.advantage-extend__hr {
  background-color: #f47821;
  width: 1.5rem;
  height: 0.125rem;
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 1.375rem;
}

.advantage-extend__p {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  margin-top: 1.6875rem;
}

.myform__section--background {
  background-color: #161616;
}

.myform__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.25rem 0 7.5rem;
}

.myform__h3 {
  font-family: 'i-DINPro', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3.25rem;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 3.75rem;
}

.iform__box {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 48px;
  grid: auto/repeat(auto-fit, minmax(auto, 667px));
}

.iform__group {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 12px 28px;
  grid-auto-columns: auto 1fr;
}

@media (max-width: 425.98px) {
  .iform__group {
    grid-auto-flow: row;
  }
}

.iform__pre {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  width: 4rem;
  height: 4rem;
  border: 1px solid rgba(255,255,255,0.23);
  border-radius: 100% 100% 100% 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iform__pre-text {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.4375rem;
  color: #f47821;
}

.iform__pre--hidden {
  opacity: 0;
}

@media (max-width: 425.98px) {
  .iform__pre--hidden {
    display: none;
  }
}

.iform__label {
  font-family: 'i-DINPro', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: -0.01em;
  color: #fff;
  margin-top: 1rem;
}

.iform__input,
.iform__textarea {
  font-family: 'i-Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.1875rem;
  letter-spacing: -0.01em;
  color: #fff;
  border: 0;
  background-color: rgba(0,0,0,0);
  padding: 0 0 0.75rem;
  border-bottom: 0.125rem solid rgba(247,248,250,0.1);
}

.iform__input {
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.iform__input:focus {
  border-bottom-color: #47aa22;
}

@media (max-width: 425.98px) {
  .iform__input {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.iform__textarea {
  resize: none;
}

@media (max-width: 425.98px) {
  .iform__textarea {
    min-height: 16.875rem;
  }
}

.iform__button {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3.375rem;
  background-color: #fff;
  border: 0;
  border-radius: 6.9375rem 6.9375rem 6.9375rem 6.9375rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'i-Gilroy', sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 1.0625rem;
  letter-spacing: 0.04em;
  color: #f47821;
  text-transform: uppercase;
  -webkit-transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.iform__button:hover {
  background-color: #f47821;
  color: #fff;
}

.iform__button:active {
  background-color: #f47821;
  color: #fff;
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.98);
  transform: scale(0.98);
}

.iform__input.warning {
  border-bottom-color: #ff6347;
}

html,
body {
  visibility: visible;
  opacity: 1;
}