//============================
//    Name: Footer
//============================
myfooter {
	+__() {
		.section--background {
			background-color #0f0f0f
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width 1200px
			margin-left auto
			margin-right auto
			padding 45px 0
			padding-left 1rem
			padding-right 1rem
		}
		.item {
			display: grid;
		}
		.title {
			color: #fff;
		}
		.text {
			color: #fff;
		}
	}
}
 