//============================
//    Name: Main page
//============================

__pageMaxWidth = 1440px;

$$btn-color = tomato;

startpage {
	+__() {
		.section--background {
			background-color #fff;
		}
		.box {
			display: grid;
			grid-auto-flow: row;		
			max-width __pageMaxWidth
			margin-left auto
			margin-right auto
			justify-content: center;
			align-items: center;
			padding 3rem 0
			min-height 480px
		}
		.item {
			display: grid;
			align-items: center;
			justify-content: center;
			text-align center
		}
		.h1 {
			color: #222222;
			font-setup(fmain, 48, 400);
			letter-spacing: -0.96px;
			line-height: 54px;
			
			+media(425) {
				font-size: 2.5rem;
			}
		}
		.p {
			margin-top 20px
			font-setup(fprimal, 16, 400);
			line-height: 26px;
		}
		.link {
			color: #f47821;
			font-setup(fprimal, 16, 600);
		}
		.button {
			margin-top 30px
			
			width 236px
			height 54px
			border-width 0
			background-color #0000
			radius: 111px;
			
			display: grid;
			grid-auto-flow: column;
			justify-content: start;
			align-items: center;
			justify-self: center;
			position relative
			transition: .25s __cubic;
			
			cursor pointer
			
			&:before {
				content: '';
				display: grid;
				width 54px
				height 54px
				font-size: 1rem;
				line-height: 1;
				text-align: center;
				background-color rgba(#878787, 0.05);
				
				radius: 111px;
				position: absolute;
				transition: all .25s __cubic;
				transform-origin: 0% 50%;
				
				pointer-events: none;
			}
		}
		.button-plus {
			
			width 54px
			height 54px
			color: #f47821;
			font-setup(fmain, 36, 400);
			display: grid;
			justify-content: center;
			align-items: center;
			margin-right -.5rem
			
			margin-top: -9px;
		}
		.button-text {
			font-setup(fextra, 16px, 700);
			color: #222;
			letter-spacing: 0.32px
			text-transform uppercase
			
		}
		
		
		.href {
			xsize = 9px
			padding xsize (xsize * 3)
			background-color $$btn-color
			color: #fff;
			text-decoration none
			text-transform uppercase
			font-weight bold
			display: grid;
			justify-content: center;
			align-items: center;
			border 2px solid $$null
			radius: .5rem;
			margin 2rem 1rem 
			transition .25s __cubic
			&:hover {
				radius: .8rem;
				background-color lighten($$btn-color, 12%);
				font-weight bold
				border 2px solid $$btn-color
			}
			&:active {
				background-color darken($$btn-color, xsize)
				color: #fff;
				transform scale(.97)
			}
		}
	}
}

.startpage__button:hover {
	&:before {
		width 100%
	}
}


girls {
	+__() {
		.section--background {
			background-color #f7f5fa;
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
		}
		.background {
			background-image url('main-assets/girls.png');
			height 600px
			background-color #ccc;
			margin-left -1rem
			margin-right -1rem
			
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

girls-quad {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			grid: auto \/ repeat(auto-fit, minmax(auto, 486px));
			justify-content: center;
			align-items: center;
			
			margin-top: -6.6rem;
			padding-bottom 80px
		}
		.item {
			background-color #fff
			display: grid;
			justify-content: center;
			align-items: center;
			padding 50px 60px
			gap: 12px;
			min-height 232px
			
			border: 1px solid #ededed;
		}
		.h6 {
			font-setup(fmain, 12, 700);
			line-height 19px
			letter-spacing: 0.04em;
			text-transform uppercase
			color: #f47821;
		}
		.p {
			font-setup(fmain, 24, 400);
			line-height: 30px;
			letter-spacing: -0.03em;
			color: #222
		}
	}
}

story {
	+__() {
		.section--background {
			background-color #fff;
		}
		.box {
			display: grid;
			grid-auto-flow: column;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			min-height 737px
			justify-content: center;
			align-items: center;
			+media(678) {
				padding-bottom 1rem
			}
		}
		.item {
			max-width 773px
			display: grid;
			gap: 24px;
		}
		.h2 {
			font-setup(fmain, 48, 400);
			color: #222;
			letter-spacing: -0.02em;
		}
		.p {
			font-setup(fprimal, 16, 400);
			color: #4e4d53;
			line-height 26px
		}
	}
}

advantage {
	+__() {
		.section--background {
			background-color #f7f5fa;
		}
		
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: 1139px;
			margin-left: auto;
			margin-right: auto;
			
			justify-content: center;
			align-items: center;
			
			gap: 60px;
			
			padding 120px 0 160px
			+media(425) {
				padding 1rem 0 1.4rem
			}
		}
		.item {
			display: grid;
			justify-content: start;
			align-items: center;
			
			&:first-child {
				justify-content: center;
			}
		}
		.h3 {
			font-setup(fmain, 40, 400);
			color: #000;
		}
	}
} 

advantage-extend {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: column;
			gap: 70px;
			
			grid: auto \/ repeat(auto-fit, minmax(270px, 1fr));
		}
		.item {
			display: grid;
			justify-content: start;
			align-items: center;
		}
		.icon {
			display: grid;
			justify-content: center;
			align-items: center;
			width 52px
			height 52px
			fill: #f47821;
		}
		
		.h4 {
			font-setup(fmain, 20, 700);
			line-height 25px
			margin-top 30px
		}
		
		.hr {
			background-color #f47821;
			width 24px
			height 2px
			border 0
			margin 0
			padding 0
			margin-top 22px
		}
		.p {
			font-setup(fprimal, 16, 400);
			line-height 26px
			margin-top 27px
		}
	}
}

myform {
	+__() {
		.section--background {
			background-color #161616
		}
		.box {
			display: grid;
			grid-auto-flow: row;
			max-width: __pageMaxWidth;
			margin-left: auto;
			margin-right: auto;
			
			justify-content: center;
			align-items: center;
			
			padding 100px 0 120px
		}
		.h3 {
			font-setup(fmain, 40, 400);
			line-height 52px
			letter-spacing: -0.02em;
			color: #fff;
			margin-bottom 60px
		}
	}
}

iform {
	+__() {
		.box {
			display: grid;
			grid-auto-flow: row;
			margin-left: auto;
			margin-right: auto;
			
			gap: 48px;
			
			grid: auto \/ repeat(auto-fit, minmax(auto, 667px));
		}
		.group {
			display: grid;
			grid-auto-flow: column;		
			grid-gap: 12px 28px;
			grid-auto-columns: auto 1fr;
			
			+media(425) {
				grid-auto-flow: row;		
			}
		}
		.pre {
			grid-row: 1/3;
			
			width 64px
			height 64px
			border 1px solid rgba(#fff, 0.23);
			
			radius: 100%;
			
			display: grid;
			justify-content: center;
			align-items: center;
		}
		.pre-text {
			font-setup(fprimal, 20, 500);
			line-height 23px
			color: #f47821;
		}
		.pre--hidden {
			opacity 0
			+media(425) {
				display: none;
			}
		}
		.label {
			font-setup(fmain, 16, 700);
			line-height 25px
			letter-spacing -0.01em;
			color: #fff;
			margin-top 1rem
		}
		.input, .textarea {
			font-setup(fprimal, 24, 400);
			line-height 35px
			letter-spacing -0.01em;
			color: #fff;
			
			border 0
			background-color #0000;
			padding 0 0 12px
			border-bottom 2px solid rgba(#f7f8fa, 0.10);
			
		}
		
		.input {
			transition: .25s __cubic;
			&:focus {
				border-bottom-color: #47aa22;
			}
			+media(425) {
				grid-column: 1/3;
			}
		}
		
		.textarea {
			resize: none;
			+media(425) {
				min-height 270px
			}
		}
		
		.button {
			
			display: grid;
			justify-content: center;
			align-items: center;
			
			height 54px
			
			background-color #fff;
			border 0
			radius: 111px;
			cursor pointer
			
			font-setup(fextra, 14, 900);
			line-height 17px
			letter-spacing 0.04em
			color: #f47821;
			text-transform uppercase
			
			transition: .25s __cubic;
			&:hover {
				background-color #f47821
				color: #fff;
			}
			&:active {
				background-color #f47821
				color: #fff;
				transform scale(0.98);
			}
		}
	}
}

.iform__input.warning {
	border-bottom-color: #ff6347;
}
