<section class="startpage__section startpage__section--background">
	<div class="startpage__box">
		<div class="startpage__item">
			<h1 class="startpage__h1">Ты готов стать профессионалом?</h1>
			<p class="startpage__p">Мы ищем <a class="startpage__link" title="URL" role="link" href="#">талантов</a> и <a class="startpage__link" title="URL" role="link" href="#">саппортов</a> в команду. Решите на какую категорию вы претендуете.</p>
			<a class="startpage__button js__smooth" href="#anchor__myform">
				<span class="startpage__button-plus">+</span>
				<span class="startpage__button-text">Заполнить анкету</span>
			</a>
		</div>
	</div>
</section>
<section class="girls__section girls__section--background">
	<div class="girls__background"></div>
	<div class="girls__box">
		<div class="girls__item">
			<div class="girls-quad__box">
				<div class="girls-quad__item">
					<h6 class="girls-quad__h6">Прокачиваем мир</h6>
					<p class="girls-quad__p">Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?</p>
				</div>
				<div class="girls-quad__item">
					<h6 class="girls-quad__h6">Мотивируем себя</h6>
					<p class="girls-quad__p">У вас есть собственная цель и вы не боитесь много работать, чтобы её достичь?</p>
				</div>
				<div class="girls-quad__item">
					<h6 class="girls-quad__h6">Используем лучшее</h6>
					<p class="girls-quad__p">Вы способны применять разные подходы для достижения своих целей?</p>
				</div>
				<div class="girls-quad__item">
					<h6 class="girls-quad__h6">Относимся с пониманием</h6>
					<p class="girls-quad__p">Вы не обвиняете других в свои неудачах и способны воспринимать критику?</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="story__section story__section--background">
	<div class="story story__box">
		<div class="story__item">
			<h4 class="story__h2">Мы похожи!</h4>
			<p class="story__p">Не следует, однако забывать, что укрепление и развитие структуры представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации форм развития.</p>
			<p class="story__p">Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации дальнейших направлений развития. Равным образом дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий условий активизации. С другой стороны постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт укрепление и развитие структуры позволяет оценить значение дальнейших направлений развития. Повседневная практика показывает, что консультация с широким активом представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт укрепление и развитие структуры влечет за собой процесс внедрения и модернизации соответствующий условий активизации.</p>
		</div>
	</div>
</section>

<section class="advantage__section advantage__section--background">
	<div class="advantage advantage__box">

		<div class="advantage__item">
			<h3 class="advantage__h3">Приемущества работы с нами</h3>
		</div>

		<div class="advantage__item advantage-extend__box">
			<div class="advantage-extend__item">
				<span class="advantage-extend__icon"><svg role="picture-svg" class="glyphs__cash"><use xlink:href="#id-glyphs-cash"></use></svg></span>
				<h4 class="advantage-extend__h4">Делимся оптом и навыками</h4>
				<hr class="advantage-extend__hr" />
				<p class="advantage-extend__p">Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.</p>
			</div>

			<div class="advantage-extend__item">
				<span class="advantage-extend__icon"><svg role="picture-svg" class="glyphs__cash"><use xlink:href="#id-glyphs-cash"></use></svg></span>
				<h4 class="advantage-extend__h4">Стабильная зарплата</h4>
				<hr class="advantage-extend__hr" />
				<p class="advantage-extend__p">Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.</p>
			</div>

			<div class="advantage-extend__item">
				<span class="advantage-extend__icon"><svg role="picture-svg" class="glyphs__cash"><use xlink:href="#id-glyphs-cash"></use></svg></span>
				<h4 class="advantage-extend__h4">Гибкий график</h4>
				<hr class="advantage-extend__hr" />
				<p class="advantage-extend__p">Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.</p>
			</div>
		</div>
	</div>
</section>

<section class="myform__section myform__section--background" id="anchor__myform">
	<div class="myform myform__box">
		<div class="myform__item"><h3 class="myform__h3">Теперь расскажите о себе</h3>
		</div>
		<div class="myform__item">
			<form id="iform" class="iform__box" action="#" method="POST" enctype="ultipart/form-data" autocomplete="off" onsubmit="return false;">

				<div class="iform__item iform__group">
					<div class="iform__pre"><span class="iform__pre-text">1</span></div>
					<label for="iform__name" class="iform__label">Фамилия и имя</label>
					<input id="iform__name" class="iform__input" type="text" name="text" required="" placeholder="Сидоров Александр">
				</div>

				<div class="iform__item iform__group">
					<div class="iform__pre"><span class="iform__pre-text">2</span></div>
					<label for="iform__email" class="iform__label">Электронная почта</label>
					<input id="iform__email" class="iform__input" type="email" name="email" required="" placeholder="Sidorov@yandex.ru">
				</div>

				<div class="iform__item iform__group">
					<div class="iform__pre"><span class="iform__pre-text">3</span></div>
					<label for="iform__phone" class="iform__label">Телефон</label>
					<input id="iform__phone" class="iform__input" type="tel" name="tel" required="" placeholder="+7 (999)-328-14-20" data-phone="true" data-pattern="(\d{1})(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})" maxlength="18">
				</div>

				<div class="iform__item iform__group">
					<div class="iform__pre"><span class="iform__pre-text">4</span></div>
					<label for="iform__extra" class="iform__label">Какой деятельностью, не связанной с текущими проектами, вы бы хотели заниматься в рабочее время?</label>
					<textarea id="iform__extra" class="iform__textarea" name="text-area" placeholder="Свой проект по созданию универсальной инфраструктуры строительства" maxlength="270"></textarea>
				</div>

				<div class="iform__item iform__group">
					<div class="iform__pre iform__pre--hidden"><span class="iform__pre-text">&nbsp;</span></div>
					<button form="iform" id="iform__button" class="iform__button">Отправить</button>
				</div>

			</form> 
		</div>
	</div>
</section> 

<div class="__device__">&nbsp;</div>
